body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*Globals*/
button{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
}

/*Header*/
.header{
    display: flex;
    background-color: #131921;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
ul{
    display: flex;
    list-style: none;
    gap:35px;
    flex-shrink: 0;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}


.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*Section 1*/
.sect1{
    display: flex;
    flex-shrink: 0;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
}

.sect1-1{
    width:500px;
    flex-shrink: 0;
}
.main-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin:0;
    padding-bottom: 50px;
}
.main-sub{
    font-size: 18px;
    color: #E5E7EB;
    margin:0;
    margin-bottom: 25px;
}
.b-signup1{
    border: 2px solid #3882F6;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 14px;
}

/*Section 2*/
.sect2-1{
    background-color: white;
    text-align: center;
}
h2{
    font-size: 30px;
    margin: 25px;
}
.sect2-2{
    display: flex;
    justify-content: center;
    gap: 25px;
    color: #3882F6;
    margin-bottom: 50px;
}

.sec2imgdiv{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.sec2img{
    width: 250px;
    height: 172px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

/*Section 3*/
.sect3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 250px;
}
.quotetxt{
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.quotesource{
    width: 100%;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0 -150px;
}

/*Section 4*/
.sect4{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sect4-1{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 25px 150px;
    border-radius: 15px;
}
.b-signup2{
    border: 2px solid #F9FAF8;
    background-color:  #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 14px;
}


.footer{
    display: flex;
    height:50px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    margin: 0;
}